

*{
  box-sizing: border-box;
}

.navbutton{
  height = 100px;
  display: inline-block;
}

nav ul{
  list-style-type: none;
  color: coral;
  font-family: Tahoma, sans-serif; 
  position: fixed;
  top: 100px; 
  left: 0px;
}
